*{
  box-sizing: border-box;
}
body{
  min-width: 360px;
  width: 100%;
}

/*HEADER*/
.header{
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C3CFD9;
  height: 68px;
  width: 100%;
}
.header h1{
  font-family: 'Roboto', sans-serif;
  font-size: 34px;
  color: #E8833A;
  font-weight: 400;
}

/*MOVIE LIST*/
.MovieList{
  min-width: 365px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 120px;
}
.MovieList .Banner{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 110px;
}
.MovieList .Banner h1{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #293845;
}
.MovieList .Content{
margin: none;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
row-gap: 10px;
}

/*MOVIE CARD*/
.MovieCard{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 146px;
  height: 210px;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
}
.MovieCard img{
  width: 130px;
  height: 194px;
}

/*FOOTER*/
.Footer{
  position: sticky;
  bottom: 0;
  left: 0;
  height: 118px;
  min-width: 365px;
  width: 100%;
  background-color: #C3CFD9;
}